.Cauldron-Graph-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cauldron-Graph-title {
  margin-bottom: 3%;
}
