.PegGraph-container {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.PegGraph-subtitle {
  margin: 1%;
}

.PegGraph-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 1%;
}

.PegGraph-button {
  padding: 2%;
  background-color: #221b47;
  color: white;
  font-weight: bold;
  border-radius: 15%;
}
