.App {
  background-color: #221b47;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(4px + 2vmin);
  color: white;
  font-family: "Sofia Pro", sans-serif;
  overflow-x: hidden;
}

.App-container {
  min-height: 80vh;
  background-color: #221b47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-disclaimer {
  text-align: center;
}

.App-link:link {
  color: white;
}

/* visited link */
.App-link:visited {
  color: white;
}

/* mouse over link */
.App-link:hover {
  color: white;
}

/* selected link */
.App-link:active {
  color: white;
}
