.CommunityLinks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 100%;
  width: 50%;
}

.CommunityLinks-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CommunityLinks-link {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
  padding: 5%;
  background-color: #372e67;
  color: white;
  min-width: 50%;
  text-align: center;
}
