.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  width: 100%;
}

.App-header-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.App-header-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.App-header-button {
  min-width: 120px;
  cursor: pointer;
  text-decoration: underline;
  font-size: calc(12px + 2vmin);
  text-align: center;
  color: white;
}

.App-header-button:visited {
  color: white;
}
