.MIM-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}

.MIM-Container > h2 {
  margin: 1%;
}

.MIM-Countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.MIM-Countdown-title {
  margin-right: 5%;
}

.MIM-Borrowable-Container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.MIM-Container-col {
  display: flex;
  height: 100%;
  min-width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.MIM-Panel-container {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
}

.MIM-Panel-chain {
  display: flex;
  justify-content: center;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
  padding: 2%;
  background-color: #372e67;
}

.MIM-Cauldrons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.MIM-Cauldrons-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 24px;
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

.MIM-Cauldrons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.MIM-Cauldrons-amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.MIM-Cauldrons-header-name {
  font-weight: bold;
}
.MIM-Cauldrons-header-sub {
  font-weight: bold;
}
