.StakedRatio-Calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 100%;
  width: 50%;
}

.StakedRatio-Calculator-title {
  margin-bottom: 5%;
  text-align: center;
}

.StakedRatio-Calculator-Inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.StakedRatio-Calculator-Input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.StakedRatio-Calculator-Input-label {
  margin-bottom: 2%;
}

.StakedRatio-Calculator-input {
  background-color: transparent;
  color: white;
  text-align: center;
  border-width: 1px;
  border-color: #7b79f7;
  border-radius: 5px;
  height: 25px;
  width: 50%;
  margin-bottom: 2%;
}

.StakedRatio-Calculator-Text-container {
  width: 100%;
}

.StakedRatio-Calculator-text {
  text-align: center;
  width: 100%;
}

.StakedRatio-Calculator-number {
  width: 100%;
}
